@import "../../../globals";

.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  .intro {
    padding-left: 5vh;
    padding-top: 10vh;
    font-size: 24px;
    font-weight: bold;
  }

  .sub-intro {
    padding-left: 5vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
    font-size: 24px;
  }

  mat-card {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #contactme {
    background-color: $bg-color-default;
  }
}
