.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Ensure the loading text appears below the loader */
  justify-content: center;
  align-items: center;

  .sandglass {
    width: 30px; /* Adjust size for smaller screens */
    height: 30px; /* Adjust size for smaller screens */
    border: 5px solid transparent;
    border-top-color: #333; /* Adjust color as needed */
    border-bottom-color: #333; /* Adjust color as needed */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .loading-text {
    margin-top: 10px; /* Adjust spacing between loader and text */
    font-size: 14px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
