@import "../../../globals";
.container {
  display: flex;
  justify-content: space-between; /* Align items to the left and right edges of the container */
  align-items: center;
  height: 96vh; /* Adjust as needed */
  padding-left: 5vw;
}

.content {
  flex: 1; /* Allow the content to grow to fill the available space */
  text-align: left; /* Justify the content to the left */
  max-width: 50vw;
}

.intro {
  font-size: 24px;
  font-weight: bold;
}

.sub-intro {
  margin-top: 10px;
}

.circle-container {
  width: 30vw;
  text-align: center;
}

.artistic-circle {
  position: relative;
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
}

.diagonal {
  position: absolute;
  width: 150%; /* Make the diagonal longer than the container */
  height: 2px; /* Adjust thickness of the diagonal */
  background-color: black; /* Adjust color of the diagonal */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg); /* Rotate and center the diagonal */
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid black; /* Adjust border properties of the circle */
  border-radius: 50%; /* Create a circle shape */
  box-sizing: border-box;
}

.ocean-button {
  display: inline-block;
  padding: 0.4em 0.4em;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: $button-color-default;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease;
  margin-top: 10px;
}

.ocean-button:hover {
  background-color: $bg-color-default;
  color: $color-default;
  text-decoration: underline;
}

.mobile-only {
  display: none;
}

.pc-only {
  display: inline-block;
}

@media (max-width: 768px) {
  .mobile-only {
    display: inline-block;
  }

  .pc-only {
    display: none;
  }

  .circle-container {
    display: none;
  }

  .content {
    max-width: 100vw;
  }

  .ocean-button {
    padding: 1em 2em; /* Adjust padding for smaller screens */
    font-size: 0.9em; /* Decrease font size for smaller screens */
  }
}
